/**Responsividade da sessão home*/
@media screen and (min-width: 992px) {
    section.about {
        width: calc(100% - 75px);
        height: 100vh;
    }

    .about-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }

    /* About - Social*/
    .about-social-container {
        background: transparent;
        border: none;
        box-shadow: none;
        padding: none;
        width: auto;
        margin-top: 0;
        width: auto;

    }

    .about-social-container .about-mydescreption {
        text-align: center;
    }

    .about-social-container .about-mysocial .mysocial-ul {
        width: 22.5rem;
        overflow-x: visible;
    }


    .about-mysocial .mysocial-ul .mysocial-itens a {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 1.7rem;
        border-radius: 50%;
    }

    .mysocial-ul .mysocial-itens a:hover i {
        color: #08FFC8;
        text-shadow: 0px 0px 20px;

    }

    .about-social-container .about-myimg img {
        max-width: 16.5rem;
    }

    .about-social-container .about-mycurriculum .mycurriculum-btn {
        width: 30rem;
    }

    /* About - Informaçoes*/


    .about-info-container .about-info-highlight .about-info-text {
        width: 40.3vw;
        font-size: 19px;
        padding: 1.6rem 1.2rem;
    }

    .about-info-container .about-more-infos {
        flex-direction: row;
        gap: .8rem;
        display: flex;
    }

    .about-info-another .about-more-infos .about-more-text {
        width: 13vw;
    }

    .about-info-highlight .about-info-title,
    .about-info-another .about-info-title {
        text-align: center;
        padding: 1rem .3rem;
    }

    .about-info-highlight .about-info-title h3,
    .about-info-another .about-info-title h3 {
        font-size: 19px;
    }

    .about-info-highlight .about-info-title h3::after,
    .about-info-another .about-info-title h3::after,
    .about-info-highlight .about-info-title h3::before,
    .about-info-another .about-info-title h3::before {
        content: '';
        border-radius: 20px;
        height: 3px;
        position: relative;
        background-color: #99A1B3;
        width: 100%;
        margin-left: 15px;
    }
    .about-info-highlight .about-info-title h3::before,
    .about-info-another .about-info-title h3::before{
        margin-right: 15px;
        margin-left: 0;
    }
}