@media screen and (min-width: 992px) {
    section.career {
        width: calc(100% - 75px);
    }
    .career-container .another-info-career {
        display: flex;
        justify-content: space-between;
        width: 100%;
        justify-content: space-evenly;
    }
    .another-info-career .technologies-career,
    .another-info-career .publi-career{
        width: 36.5%;
    }

    .another-info-career .publi-career .career-title h3::after{
        content: none;
    }

    .another-info-career .publi-career .career-title h3::before{
        content: '';
        border-radius: 20px;
        height: 3px;
        position: relative;
        background-color: #99A1B3;
        width: 100%;
        margin-right: 15px;
    }
 
}