section.career {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0;
}

section.career .career-container {
    display: flex;
    flex-direction: column;
    width: 93.5vw;
   
}

.career-container .historic-career-container {
    height: 45vh;
}

.career-container .another-info-career .technologies-career{
    flex-wrap: wrap;
    justify-content: center;
}

.career-container .another-info-career .technologies-career,
.career-container .another-info-career .diplomer-career,
.career-container .historic-career-container{
    background: #23272F;
    border-radius: 10px;
    border: .5px solid #333A45;
    padding: .7rem 0rem;
    display: flex;
    gap: 1rem;
   x
}

.another-info-career .career-tec-title,
.career-container .career-tec-title{
    padding: 1rem 0;
}

.another-info-career .career-tec-title h3,
.career-container .career-tec-title h3 {
    display: flex;
    align-items: center;
    width: auto;
    color: #99A1B3;
    font-size: 18px;
}

.another-info-career .career-tec-title h3::after,
.career-container .career-tec-title h3::after {
    content: '';
    border-radius: 20px;
    height: 3px;
    position: relative;
    background-color: #99A1B3;
    width: 100%;
    margin-left: 15px;

}

