section.career {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0;
}

section.career .career-container {
    display: flex;
    flex-direction: column;
    width: 93.5vw;
   
}

.career-container .historic-career-container {
    height: 45vh;
    flex-direction: column;
    background: #23272F;
    border-radius: 10px;
    border: .5px solid #333A45;
    padding: 1.6rem .75rem .75rem .75rem;
    display: flex;
 
}

.another-info-career .technologies-career{
    margin: 25px 0;
}

.another-info-career .technologies-career .career-tec-content{
    flex-wrap: wrap;
    justify-content: center;
}

.another-info-career .technologies-career .career-tec-content,
.another-info-career .publi-career .career-publi-content{
    background: #23272F;
    border-radius: 10px;
    border: .5px solid #333A45;
    padding: .75rem;
    display: flex;
    gap: 1rem;
   
}

.another-info-career .technologies-career .career-title,
.another-info-career .publi-career .career-title,
.career-container .career-title{
    padding: 1rem 0;
}

.another-info-career .technologies-career .career-title h3,
.another-info-career .publi-career .career-title h3,
.career-container .career-title h3 {
    display: flex;
    align-items: center;
    width: auto;
    color: #99A1B3;
    font-size: 18px;

}

.another-info-career .technologies-career.career-title h3::after,
.another-info-career .publi-career .career-title h3::after,
.career-container .career-title h3::after {
    content: '';
    border-radius: 20px;
    height: 3px;
    position: relative;
    background-color: #99A1B3;
    width: 100%;
    margin-left: 15px;

}

.another-info-career .publi-career .career-publi-content{
    flex-direction: column;
}

.career-gif{
    display: flex;
    justify-content: center;
    width: 93.5vw;
    margin-bottom: 3vh;
}

.career-gif img{
    width: 100%;
    height: auto;
    border-radius: 15px
}
/*Histyorico*/
