/*Estilização global*/
@media screen and (min-width:992px)  {
    button{
        cursor: pointer;
    }
}

@media screen and (min-width: 992px) {

    /*Responsividade do menu*/
    nav.menu {
        width: 75px;
        min-height: 100vh;
        right: 0;
        top: 0;
    }

    #menu-expand-btn {
        height: 55px;
        width: 55px;
        margin: .5rem .5rem 0 .55rem;
        border-radius: 20px;
    }

    #menu-expand-btn:hover {
      
        background: linear-gradient(20deg, rgba(35, 39, 47, 0.7) , #333a45);
    }

    nav.menu #menu-ul {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-top: 12.5vh;
    }

    nav.menu #menu-ul .menu-itens {
        margin: .5rem 0 .5rem 0;

    }

    #menu-ul .menu-itens .menu-a-btn {
        border: 3px solid transparent;
        height: 55px;
        width: 55px;
        margin: .5rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        padding: 0;
        background: transparent;
    }

    #menu-ul .menu-itens .menu-a-btn:hover {
        border: 3px solid #08FFC8;

    }
    #menu-ul .menu-itens .menu-a-btn:hover i{
       color:  #08FFC8;
       text-shadow: 0px 0px 20px;
    }
    nav.menu #menu-ul .menu-itens {
        opacity: 1;
    }
    .menu-itens .menu-a-btn .menu-txt {
        display: none;
    }


}

/*Comportamentos do nav quando estiver expandida*/
@media screen and (min-width: 992px) {
    nav.menu.expanded {
        width: 288px;
        
    }
   
    nav.menu.expanded #menu-ul .menu-itens .menu-a-btn {
        max-width: 12vw;
        padding: .5rem 5rem .5rem 5rem;
        gap: 3rem;
        flex-direction: row;
    }

    nav.menu.expanded .menu-itens .menu-a-btn .menu-txt {
        display: block;
    }
    
}