section.home{ 
    height: 110vh;
}
.home-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    z-index: 5;
}
.home-container .home-mensager{
    height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  
}
.home-container .home-mensager h1{
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
}
.home-container .home-mensager img{
    width: 260px;
    height: auto;
   
}
.home-container .home-explore{
    display: flex;
    position: absolute;
    bottom: 5%;
}
.home-container .home-explore .home-a-btn{
    font-size: 18px;
    background: linear-gradient(50deg, #23272FB3, #333A45 90%);
    border-radius:20px;
    padding: .7rem 2.5rem;
    border: .5px solid #333A45;
    font-size: 14px;
    font-weight: 600;
    gap: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}