@media screen and (min-width: 992px) {
    section.home{ 
        height: 100vh;
    }
    .home-container{
        width: calc(100% - 75px);
    }
    .home-container .home-mensager{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1.2rem;
        height: 100vh;
    }
    
    .home-container .home-mensager h1 {
        font-size: 86px;
        word-wrap: break-word;
        width: 380px;
    }
    .home-container .home-mensager img {
        width: 400px;
        height: auto;
    }

   
}
