section.section-projects {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background: #23272F;
    border: .5px solid #333A45;
    box-shadow: 0 0 5px #333A45;
    border-radius: 20px;
    padding: 1rem;
    width: 93.5vw;
    justify-content: center;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.projects-container .projects-title {
    padding: 1rem 0;
}

.projects-container .projects-title h3 {
    display: flex;
    align-items: center;
    width: auto;
    color: #99A1B3;
    font-size: 18px;

}

.projects-container .projects-title h3::before {
    content: '';
    border-radius: 20px;
    height: 3px;
    position: relative;
    background-color: #99A1B3;
    width: 100%;
    margin-right: 15px;

}

.projects-gif{
    display: flex;
    justify-content: center;
    width: 93.5vw;
}

.projects-gif img{
    width: 100%;
    height: auto;
    border-radius: 15px
}

card-works {
    margin: .5rem 0;
}

card-works:nth-child(2){
    transition-delay: 200ms;
}

card-works:nth-child(3){
    transition-delay: 300ms;
}

