/*global*/
.light,
.light-nav{
    background-color: #FFF;
}

.light_2{
    background-color: #EEF2F4;
}
.light-gradiente-text,
.light-gradiente{
    background: linear-gradient(20deg, #f2e2f6 0%, #dcecfd 50%, #def5ee 100%);
    border: 2px solid #78819347;

}
.light-gradiente-text,
.light-global-color,
.home-color-write{
    color: #788193 !important;

}
.light-global-color_2{
    color: #EEF2F4 !important;  
}
.light-nav{
    border-bottom: 1px solid #EBECF0;
    box-shadow: 0 0 10px #727272;
    
}

.light-btnColor{
    background-color: #23272F;
}

.fi-sr-moon{
    color: #F6F7F8 !important;
}

.light-container{
    background-color: #F6F7F9;
    border: 1px solid #DADBDD;
    box-shadow: none;
}
.light-infoMore-color {
    color: #98a7c3 !important;
}
.light-container_2{
    background-color: #D2E0FB;
    border: 1px solid #98a7c3;
}
@media screen and (min-width: 992px) {

    .light-nav{  
        border-left: 1px solid #DADBDD;
        box-shadow: none;   
    }
    .light-gradiente-btn:hover {
        background: linear-gradient(20deg, #f2e2f6 0%, #dcecfd 50%, #def5ee 100%) !important;
    }
    .light-a-btn:hover {
        background-color: #23272F;
    }
}